.updater {
    position: fixed;
    height: 100%;
    display: block;
    width: 100%;
    z-index: 999999;
    background: linear-gradient(rgb(75, 34, 174), rgb(149, 105, 243));
}

.updater .logo {
    background: url('../images/logo.png');
    opacity: 0.8;
    width: 477px;
    height: 58px;
    bottom: 30px;
    position: absolute;
    left: calc(50% - 238px);
}

.updater .version {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 105px;
    color: white;
}

.updater .body {
    position: absolute;
    margin: auto;
    width: 400px;
    height: 310px;
    top: 50%;
    left:50%;
    text-shadow: 0 3px 0 rgba(0, 0, 0, .25);
    transform: translate(-50%, -90%)
}

.updater .body .connection {
    text-align: center;
    color: white;
    font-size: 30px;
}

.updater .body .progression {
    text-align: center;
    color: white;
    font-size: 50px;
}

.updater .body .progression .proportion {
    font-size: 30px;
    margin-top: 10px;
    background: #8c69e9;
    display: block;
    border-radius: 12px 12px 0 0;
    padding:10px 0;
    border: 2px solid #fff;
}

.updater .body .progression .speed {
    font-weight: bold;
    font-size: 20px;
    display: block;
    background: #8c69e9;
    border-radius: 0 0 12px 12px;
    border: 2px solid #fff;
    padding: 5px 0;
    border-top: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);
}

.updater .body .duck {
    background: url('../images/duck.png');
    opacity: 0.8;
    width: 280px;
    height: 230px;
    margin: auto;
    image-rendering: pixelated;
}

.updater .body .loader,
.updater .body .loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

.updater .body .loader {
    height: 36px;
    width: 36px;
    margin: 10px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}